body {
    background-color: rgba(36, 36, 36, 0.86);
    color: #fff;
}

#app-main-search-box button {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #CC4D4D;
    border-right-color: #CC4D4D;
    border-top-color: #CC4D4D;
    border-bottom-color: #CC4D4D;
    color: #fff;
}

.videos .video .overlay {
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 0 5px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}