body {
    background-color: rgb(242, 246, 247);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #fff;
    padding-top: 20px;
    height: 100px;
}

/*nav .logo {*/
/**/
    /*font-size: 38px;*/
    /*line-height: 30px;*/
/*}*/

nav .logo img {
    height: 50px;
}

.topics > div {
    color: rgba(119, 119, 119, 0.75);
    padding: 15px;
    height: 50px;
    background-color: rgba(214, 214, 214, 0.22);
}

#app-main-search-box {
    padding-top: 15px;
}
#app-main-search-box button {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #CC4D4D;
    border-right-color: #CC4D4D;
    border-top-color: #CC4D4D;
    border-bottom-color: #CC4D4D;
    color: #fff;
}

.videos .video .overlay {
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 0 5px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
}

.videos .video {
    color: #000;
}
.videos .video img {
    width: 100%;
}
.videos .video > div > div{
    border: 1px solid #e3e3e3;
    height: 200px;
    background-color: #fff;
}

.videos .video .details .title {
    padding: 5px 10px;
}

.videos.suggested .video > div > div {
    margin-bottom: 20px;
}

.videos .video .details {
    padding: 5px;
}

#information-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#information-bg {
    width: 100%
}

#text-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1 ;
}
#text-bg img:first {
    width: 100%;
}

#information-block {
    margin: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.36);
    color: #000;
}

#information .divider {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.39);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#information .btn-watch {
    font-size: 25px;
}
#information .btn-watch i {
    font-size: 20px;
}

#information .related h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#information .age-limit {
    margin-top: 10px;
    margin-bottom: 10px;
}

#information .age-limit > span {
    border: 1px solid black;
    border-radius: 61%;
    padding: 7px 4px;
}

#pre-questionnaire .answers img, #post-questionnaire .answers img {
    width: 200px;
    /*height: 200px;*/
}

#pre-questionnaire .answers img:hover,
#post-questionnaire .answers img:hover {
    opacity: 0.7;
}
#pre-questionnaire .btn-answer:hover,
#post-questionnaire .btn-answer:hover {
    color: #fff;
}
#pre-questionnaire .btn-answer.checkbox,
#post-questionnaire .btn-answer.checkbox {
    margin-top: 20px;
    background-color: #fff;
}

#pre-questionnaire .btn-answer.checkbox:hover,
#post-questionnaire .btn-answer.checkbox:hover {
    color: #000;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }
}

.slider {
    position: absolute;
    top: 129px;
    left: 0;
    right: 0;
    z-index: 2;
}

/*#pre-questionnaire,*/
/*#post-questionnaire {*/
    /*color: #fff;*/
/*}*/

.white-container {
    color: #000;
    margin: 50px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.36);
}

.btn-text-answer {
    margin-bottom: 20px;
    background-color: #fff;
    color: #000 !important;
}
