<div id="app-main">
        <nav>
            <div class="row-fluid">
                <div class="col-md-3 logo">
                    <img src="http://s13.postimg.org/et2ue3hav/curio_logo.png" alt="">
                </div>

                <div id="app-main-search-box" class="col-md-6 col-md-offset-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchValue">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search(searchValue)">Search</button>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="topics row-fluid">
            <div>
                <div class="col-md-2">
                    Education
                </div>
                <div class="col-md-2">
                    Sport
                </div>
                <div class="col-md-2">
                    Music
                </div>
                <div class="col-md-2">
                    Travel
                </div>
                <div class="col-md-2">
                    Science
                </div>
                <div class="col-md-2">
                    Technology
                </div>
            </div>
        </div>
    <div class="container-fluid">
        <div class="row">

            <div class="videos col-md-12" ng-show="videos">
                <h3>Search results</h3>
                <div class="row slider">
                    <div class="col-md-2 text-left">
                        <button class="btn" ng-click="prev()"><i class="glyphicon glyphicon-arrow-left"></i></button>
                    </div>
                    <div class="col-md-2 col-md-offset-8 text-right">
                        <button class="btn" ng-click="next()"><i class="glyphicon glyphicon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="row">
                    <a class="video" ui-sref="information({id: video.id})" ng-repeat="(key, video) in videos">
                        <div class="col-md-2" ng-show="key >= showMin && key <= showMax">
                            <div>
                                <img ng-src="{{ video.images[0].url }}" alt="">
                                <div class="details">
                                    <div class="title">
                                        {{ video.titles.default }}
                                    </div>
                                    <div class="overlay">
                                        <div>
                                            {{ getMinutes(video.duration) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="videos suggested col-md-12" ng-show="suggestionVideos">
                <h3>Suggested videos</h3>
                <div class="row">
                    <a class="video" ui-sref="information({id: video.id})" ng-repeat="(key, video) in suggestionVideos">
                        <div class="col-md-2">
                            <div>
                                <img ng-src="{{ video.images[0].url }}" alt="">
                                <div class="details">
                                    <div class="title">
                                        {{ video.titles.default }}
                                    </div>
                                    <div class="overlay">
                                        <div>
                                            {{ getMinutes(video.duration) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
