<nav>
    <div class="row-fluid">
        <div class="col-md-3 logo">
            <a ui-sref="main"><img src="/imgs/curio_logo.jpg" alt=""></a>
        </div>
    </div>
</nav>


<div class="text-center" style="margin-bottom: 20px; margin-top: 20px;">
    <button class="btn btn-default" ng-click="goToInitial()">Go to home screen</button>
    <button class="btn btn-default" ng-click="goBack()">Watch it again</button>
</div>

<div class="text-center">
    <div style="margin-bottom: 20px;">
        <img width="300px" src="http://s30.postimg.org/vho2nofld/donut_chart_1.png" alt="">
    </div>
    <a href="https://store.maxdome.de/lost-in-translation-2779.html">
        <img width="200px" src="http://s13.postimg.org/p4f76r907/ad_1.png" alt="">
    </a>
    <a href="http://www.hugendubel.de/de/buch/henryk\_socha-japan-19244993-produkt-details.html?searchId=1746622812">
        <img width="200px" src="http://s13.postimg.org/4ybp7vdcn/ad_2.png" alt="">
    </a>
</div>