<div id="information">
    <div id="information-bg" style="background-image: url({{ video.images[0].url }});">
    </div>
    <div id="information-block">
        <h1>{{ video.titles.default }} <a class="btn btn-default pull-right" ui-sref="prequestionnaire({id: video.id})">Watch</a></h1>
        <div ng-show="video.productionYear">{{ video.productionYear }}</div>
        <div class="age-limit" ng-show="video.parentalRating"><span>{{ video.parentalRating.age }}+</span></div>
        <div>
            Duration: {{ getMinutes(video.duration) }}
        </div>
        <div ng-show="video.languageVersion">
            Language: {{ video.languageVersion }}
        </div>
        <div>
            {{ video.descriptions.default }}
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">

            </div>
        </div>

        <div class="divider"></div>

        <div class="row">
            <div class="col-md-2" ng-repeat="data in ericsonData">
                <img class="col-md-12" ng-src="{{ data.document.relatedMaterial[0].value }}" alt="">
                <div>
                    {{ data.document.sourceName }}
                </div>
                <div>
                    {{ data.document.publishedStartDateTime | date : 'short' }}
                </div>
            </div>
        </div>
    </div>
</div>